@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  
}

.title {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  z-index: 999;
  top: 80px;
  left: calc(50% - 125px);
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url("../images/top-bg.svg"), url('../images/bottom-bg.svg');
  background-repeat: no-repeat;
  background-position: calc(200px) calc(-50px), calc(0px) calc(400px);
  background-color: #06859c;
}

.add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.add-box-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.add-box-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.btn-1 {
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border: none;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 700;
}

.btn-2 {
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border: none;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 700;
}


.hudud {
  width: 100%;
  max-width: 250px;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 700;
}


.nav-pagination {
  position: absolute;
  bottom: 180px;
}

.pagination {
  border-color: #fff !important;
}

.page-link {
  border-color: #fff !important;
  color: #fff !important;
  background-color: transparent !important;
}

.active .page-link {
  background-color: #fafafa !important;
  border-color: #fff !important;
  color: #000 !important;
}

.container {
  position: absolute;
  bottom: 50px;
  display: none;
  justify-content: center;
}

.button {
  border: none;
}
.button i {
  pointer-events: none;
}
.button:disabled {
  color: #b3b3b3;
  pointer-events: none;
}
.button {
  width: 55px;
  height: 55px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px;
  font-weight: 700;
}

.link {
  display: none;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
}

.links {
  column-gap: 12px;
}
.link {
  font-weight: 500;
  text-decoration: none;
}
.button:hover,
.link:hover {
  color: #000;
  background: #fff;
}
.link.active {
  display: inline-block !important;
  color: #000;
  background: #fff;
}

.info-box {
  display: none;
}

.box {
  display: none;
  width: 300px;
}
.box-2 {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.box-3 {
  display: none;
}

.back-to {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.back-to-2 {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.back-to-3 {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.back-to-4 {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}